/* Header.css */
.header {
  background-color: #b6d109;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

.header h2 {
  color: #343a40;
  font-family: "Arial", sans-serif;
}
